<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>FilaBrasileira</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<h1>Fila de Prioridade Brasileira</h1>
<div>
    <span>Importe suas listas e veja quem pode furar a fila do evento</span>
    <form>
        <div><!--Apresentar a lista de filas--></div>
        <button disabled>Import..</button>
        <div><!--Apresentar o nome da pessoa que pode furar a fila--></div>
    </form>
</div>
</body>
</html>